@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');

.clockBox{
    position: absolute;
    display: flex;
    flex-direction: row;
    top : 25px;
    left: 25px;
    font-family: 'Bebas Neue', cursive ;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) ,rgba(255, 255, 255, 0.6) ,rgba(0, 0, 0, 0.4));
    -webkit-background-clip: text;
    animation: animate 6s linear infinite;
    background-size: 200%;
}
.clockBox .date{
    padding : 10px;
    font-size: 60px;
    margin-left: 10px;
    color : transparent;
}

.clockBox .clock {
    font-size: 160px;
    font-weight: 900;
    color: transparent;
}

@keyframes animate {
    0%{ background-position: 0% 100%; }
    50%{  background-position: 100% 0%; }
    100%{  background-position: 0% 100%; }    
}